<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Portfolio Details - MyResume Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    {% include 'components/_style.html' %}
</head>

<body class="portfolio-details-page">

<header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        </ul>
    </nav>

</header>

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'portfolio' %}">Home</a></li>
                    <li class="current">Project Details</li>
                </ol>
            </nav>
            <h1>Website haqida</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up">
            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8" data-aos="fade-up">
                    <div class="portfolio-description">
                        <h2>{{ project.title }}</h2>
                        <p>
                            {{ project.description }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Client</strong>{{ project.client }}</li>
                            <li><strong>Project date</strong>{{ project.date }}</li>
                            <li><strong>Project URL</strong> <a href="#">{{ project.project_url }}</a></li>
                            <li><a href="#" class="btn-visit align-self-start">Website ko'rish</a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>

    </section><!-- /Portfolio Details Section -->

</main>

<footer id="footer" class="footer position-relative light-background">
    <div class="container">
        <h3 class="sitename">Brandon Johnson</h3>
        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
            placeat.</p>
        <div class="social-links d-flex justify-content-center">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-skype"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="copyright">
                <span>Copyright</span> <strong class="px-1 sitename">Alex Smith</strong>
                <span>All Rights Reserved</span>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distribuited by <a
                    href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

{% include 'components/_script.html' %}

</body>

</html>