<footer id="footer" class="footer position-relative light-background">
    <div class="container">
        <h3 class="sitename">Hakimv Muzaffar</h3>
        <div class="social-links d-flex justify-content-center">
            <a href="https://github.com/HakimovMuzaffar"><i class="bi bi-github"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198202546576/"><i class="bi bi-steam"></i></a>
            <a href="https://t.me/@theweb_1"><i class="bi bi-telegram"></i></a>
        </div>
    </div>
</footer>